.difficulty input[type="radio"] {
    display: none;
}

.difficulty label {
    color: #ff00ff;
    border: 4px solid #ff00ff;
    border-radius:7px;
    padding: 5px 15px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #ff00ff) drop-shadow(0 0 50px #ff00ff);
    transition: .4s;
    font-size: 18px;
    user-select: none;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 2px;
}

.difficulty input[type="radio"]:checked + label {
    color: white;
    background-color: #ff00ff;
    filter: drop-shadow(0 0 20px #ff00ff);
}