@import url("checkboxes.css");
@import url("jose.css");

@font-face {
    font-family: "Hemi Head";
    src: url(/assets/fonts/hemi_head.ttf);
}

* {
    box-sizing: border-box;
}

a {
    color: #ececec;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #131313;
    color: #ececec;
    font-family: "Changa", sans-serif;

    background-image: url("/assets/background.jpg");
    background-size: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.33);
    width: 95%;
    max-width: 1200px;
    aspect-ratio: 2/1;
    display: flex;
}

section {
    height: 100%;
    width: 50%;
}

h1 {
    font-family: "Hemi Head", sans-serif;
    font-size: 65px;
    margin-bottom: 30px;
}

h2 {
    font-family: "Hemi Head", sans-serif;
    font-size: 45px;
    text-align: center;
    position: relative;
}
h3 {
    font-family: "Hemi Head", sans-serif;
    font-size: 24px;
    margin: 0;
}

.btn {
    width: fit-content;
}

.to-find {
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.small-title {
    font-weight: bold;
}
.game-info {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input[type="submit"].hidden {
    height: 0;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    display: none;
}

input[type="submit"] {
    text-decoration: none;
    border: none;
    width: fit-content;
}

.game-form input[type="text"] {
    background-color: transparent;
    padding: 3px 3px 5px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    position: relative;
    transition: .25s ease;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.game-form input[type="text"]:hover {
    border-color: cyan;
}
.game-form input[type="text"]:focus-visible {
    border-color: cyan;
}
.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

form {
    padding: 15px 0 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gloss-effect {
    background-color: #c0c0c0;
    font-family: "Hemi Head";
    box-shadow:1px 1px 5px black,inset 1px 1px 2px #fbfbfb,0 0 2px #d8d8d8, inset 0 18px 0 #ededed;
    text-shadow:0 0 5px #000;
    border-radius:7px;
    color:white;
    cursor:pointer;
    font-size:18px;
    font-weight:700;
    line-height:25px;
    user-select:none;
    margin:4px;
    padding:4px 14px;
    letter-spacing: 2px;
}

.results {
    display: flex;
    height: 270px;
    width: 375px;
}