@import url("checkboxes.css");
@import url("jose.css");
@import url("front_page.css");
@import url("responsive.css");

@font-face {
    font-family: "Hemi Head";
    src: url(/assets/fonts/hemi_head.ttf);
}

* {
    box-sizing: border-box;
}

a {
    color: #ececec;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #131313;
    color: #ececec;
    font-family: "Changa", sans-serif;
    line-height: 1.15;
    background-image: url("/assets/background.png");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    border: 3px solid white;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: 25px;
    max-width: 1150px;
    display: flex;
    padding: 50px;
    aspect-ratio: 2/1;
}

section  {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-left, .section-game {
    width: 60%;
}

.section-right {
    flex: 1;
    transition: .5s;
}

.title {
    font-family: "Hemi Head", sans-serif;
    margin: 0;
}

.hidden {
    height: 0;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    display: none;
}

input[type="submit"] {
    text-decoration: none;
    border: none;
    width: fit-content;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    position: relative;
    transition: .25s ease;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-family: "Changa", sans-serif;
}
input[type="text"]:hover {
    filter: drop-shadow(0 0 15px #ff00ff);
    border-color: #ff00ff;
}
input[type="text"]:focus-visible {
    filter: drop-shadow(0 0 15px #ff00ff);
    border-color: #ff00ff;
}
input[type="text"]::placeholder {
    font-style: italic;
    font-size: 14px;
}
.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-gloss {
    background-color: #c0c0c0;
    font-family: "Hemi Head";
    box-shadow:1px 1px 5px black,inset 1px 1px 2px #fbfbfb,0 0 2px #d8d8d8, inset 0 18px 0 #ededed;
    text-shadow:0 0 5px #000;
    border-radius:7px;
    color:white;
    cursor:pointer;
    font-size:18px;
    font-weight:700;
    line-height:25px;
    user-select:none;
    margin:4px;
    padding:4px 14px;
    letter-spacing: 2px;
}

.section-right input[type="submit"] {
    justify-content: flex-end;
}

.to-find {
    font-size: 35px;
    letter-spacing: 5px;
}

.small-title {
    font-weight: bold;
}

.section-right input[type="text"] {
    text-align: left;
}

.section-game {
    z-index: 5;
    padding-top: 10px;
}
.attempts, .difficulty {
    font-size: 30px;
}
.difficulty {
    margin-bottom: 15px;
    font-family: "Hemi Head";
}
.used-letters-container {
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.used-letters {
    width: calc(100% - 30px);
    margin: 5px 15px;
    display: block;
    width: fit-content;
    position: relative;
    padding: 2px 10px;
}
.decoration {
    position: absolute;
    content: "";
    height: 10px;
    width: 2px;
    background-color: cyan;
    filter: drop-shadow(0 0 15px cyan)
}
.decoration.up-left {
    top: 0;
    left: 0;
}
.decoration.down-right {
    bottom: -2px;
    right: -2px;
}
.decoration::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: cyan;
    filter: drop-shadow(0 0 15px cyan)
}
.decoration.up-left::after {
    top: 0;
    left: 0;
}
.decoration.down-right::after {
    bottom: 0;
    right: 0;
}

.idk {
    opacity: .3;
    font-size: 15px;
    font-style: italic;
}

.enviederirmou {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}
.game-form input[type="text"] {
    margin-bottom: 10px;
}

.game .separation {
    height: 100%;
    width: 3px;
    background-color: #ff00ff;
    filter: drop-shadow(0 0 15px #ff00ff);
    position: relative;
}
.game .separation::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(0deg, transparent, #ff00ff);
    filter: drop-shadow(0 0 15px #ff00ff) drop-shadow(0 0 50px #ff00ff);
}

.results p {
    font-size: 20px;
    margin: 0;
    color: cyan;
    filter: drop-shadow(0 0 15px cyan);
    margin-bottom: 15px;
}
.results h1 {
    margin-bottom: 0;
}

.game-data {
    padding-top: 15px;
}


.section-art {
    margin-left: 20px;
    margin-right: -30px;
}

/* !RESPONSIVE */

@media screen and (max-width: 1200px) {
    main {
        max-width: calc(1024px - 50px);
    }
    h1 {
        font-size: 55px;
        margin-bottom: 20px;
    }
    .section-left p {
        font-size: 20px;
    }
    .btn-gloss, .difficulty label {
        font-size: 16px;
    }
    .scoreboard {
        padding: 0px 0;
    }
    .scoreboard.title {
        font-size: 42px;
    }
    h3 {
        font-size: 20px;
    }
    .scoreboard-data * {
        font-size: 17px;
    }
    .difficulty {
        margin-bottom: 10px;
    }.attempts, .difficulty {
        font-size: 25px;
    }
    .used-letters-container {
        font-size: 22px;
    }
    .to-find {
        font-size: 30px;
    }
    .difficulty-form form {
        margin: 5px 0 0px;
    }
}

.game h1:not(.results-title) {
    margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
    main {
        margin: auto;
        max-width: 600px;
        flex-direction: column;
    }
    main.game {
        max-height: 100vh;
        flex-direction: column-reverse;
    }
    .section-art {
        width: 70%;
        margin: auto auto auto auto;
        aspect-ratio: 1;
        height: auto;
    }
    h1 {
        margin-bottom: 30px;
    }
    .game h1:not(.results-title) {
        display: none;
    }
    .section-left, .section-right, .section-game {
        width: 100%;
        height: fit-content;
    }
    .section-left p {
        margin-bottom: 45px;
    }
    .scoreboard {
        padding: 20px 0;
    }
    .scoreboard > *:not(.header) {
        width: 95%;
        margin: auto;
    }
    .scoreboard .separation {
        margin-bottom: 20px;
    }
    main > .separator {
        height: 0px;
        width: 0px;
        margin: 0;
    }
    main.game > .separation {
        width: 100%;
        height: 3px;
        margin: 10px 0 15px;
    }
    main.game > .separation::after {
        content: "";
        position: absolute;
        top: auto;
        bottom: -10px;
        left: 0;
        height: 3px;
        width: 100%;
        background: linear-gradient(to left, transparent, #ff00ff);
    }
    .difficulty {
        margin-bottom: 10px;
    }.attempts, .difficulty {
        font-size: 25px;
    }
    .used-letters-container {
        font-size: 22px;
    }
    .to-find {
        font-size: 30px;
    }
    .results p {
        display: none;
    }
    .results-title {
        color: cyan;
        filter: drop-shadow(0 0 15px cyan);
        font-size: 40px;
    }
}

@media screen and (max-width: 770px) {
    main {
        margin: auto;
        flex-direction: column;
        max-width: 500px;
    }
    .difficulty {
        margin-bottom: 10px;
    }.attempts, .difficulty {
        font-size: 20px;
    }
    .used-letters-container {
        font-size: 20px;
    }
    .to-find {
        font-size: 30px;
    }
}

@media screen and (max-width: 580px) {
    main {
        margin: 5px;
        padding: 25px;
    }
    main.game {
        max-height: calc(100vh - 10px);
    }
    .section-game {
        padding-top: 15px;
    }
    .enviederirmou {
        padding-top: 30px;
    }
    h1.results-title {
        font-size: 40px;
    }

}

#ratio {
    font-weight: bold;
}