@import url("checkboxes.css");
@import url("jose.css");

@font-face {
    font-family: "Hemi Head";
    src: url(/assets/fonts/hemi_head.ttf);
}

* {
    box-sizing: border-box;
}
h1, h2, p {
    margin: 0;
}
a {
    color: #ececec;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #131313;
    color: #ececec;
    font-family: "Changa", sans-serif;
    line-height: 1.15;
    background-image: url("/assets/background.jpg");
    background-size: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 95%;
    max-width: 1200px;
    aspect-ratio: 2/1;
    display: flex;
}

.form-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    width: fit-content;
}

.to-find {
    font-family: "Hemi Head", sans-serif;
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.small-title {
    font-family: "Hemi Head", sans-serif;
    font-weight: bold;
}

section  {
    padding: 4%;
    display: flex;
    flex-direction: column;

    height: 100%;
}
.section-left {
    width: 60%;
    gap: 4%;
}

.section-right {
    padding: 6% 4%;
    flex: 1;
    transition: .5s;
}
input[type="submit"].hidden {
    height: 0;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    display: none;
}

input[type="submit"] {
    text-decoration: none;
    border: none;
    width: fit-content;
}

.game-form input[type="text"] {
    background-color: transparent;
    padding: 3px 3px 5px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    position: relative;
    transition: .25s ease;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.game-form input[type="text"]:hover {
    border-color: #00eaff;
    filter: drop-shadow(0 0 15px #00eaff) drop-shadow(0 0 50px #00eaff);
}
.game-form input[type="text"]:focus-visible {
    border-color: #00eaff;
    filter: drop-shadow(0 0 15px #00eaff) drop-shadow(0 0 50px #00eaff);
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

form {
    padding: 15px 0 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gloss-effect {
    background-color: #c0c0c0;
    font-family: "Hemi Head";
    box-shadow:1px 1px 5px black,inset 1px 1px 2px #fbfbfb,0 0 2px #d8d8d8, inset 0 18px 0 #ededed;
    text-shadow:0 0 5px #000;
    border-radius:7px;
    color:white;
    cursor:pointer;
    font-size:18px;
    font-weight:700;
    line-height:25px;
    user-select:none;
    margin:4px;
    padding:4px 14px;
    letter-spacing: 2px;
}

.results {
    display: flex;
    height: 270px;
    width: 375px;
}

h1 {
    font-family: "Hemi Head", sans-serif;
    font-size: 65px;
    margin-bottom: 30px;
}
h2 {
    font-family: "Hemi Head", sans-serif;
    font-size: 45px;
    text-align: center;
    position: relative;
}
h3 {
    font-family: "Hemi Head", sans-serif;
    font-size: 24px;
    margin: 0;
}

.section-left p {
    font-size: 24px;
}

.section-right .separation {
    margin: 10px 0;
    height: 3px;
    width: 100%;
    background-color: #ff00ff;
    filter: drop-shadow(0 0 15px #ff00ff) drop-shadow(0 0 50px #ff00ff);
    position: relative;
}
.section-right .separation::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, transparent, #ff00ff);
    filter: drop-shadow(0 0 15px #ff00ff) drop-shadow(0 0 50px #ff00ff);
}

main > .separator {
    height: 80%;
    width: 2px;
    margin: auto;
    background-color: white;
}

.section-right form {
    align-items: flex-end;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.scoreboard-data * {
    margin: 5px 0;
    font-size: 18px;
}

.scoreboard-data .separator {
    width: 50%;
    margin: 15px auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.069);
    filter: drop-shadow(0 0 15px white) blur(0.5px);
}