.gamecontent {
    display: flex;
    margin: 30px 60px;
    gap: 10px;
}

.column-1 {
    min-width: 600px;
    min-height: 500px;
    border-radius: 15px;
    background-color: #e1e1e1;
}

.column-2 {
    min-width: 400px;
    min-height: 500px;
    border-radius: 15px;
    background-color: #e1e1e1;
}
