.gamecontent {
    display: flex;
}

.column-1 {
    width: 300px;
    min-height: 500px;
    margin: 30px 50px;
    border-radius: 15px;
    background-color: #e1e1e1;
}

.column-2 {
    width: 300px;
    min-height: 500px;
    margin: 30px 50px;
    border-radius: 15px;
    background-color: #e1e1e1;
}
