<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script scr="assets/js/script.js"></script>
    <title>Game | HANGMAN WEB</title>
</head>
<body>
    <div class="game-info">
        {{ if .GameData.HasEnded }}
            {{ template "results" .GameData }}
        {{ else }}
            {{ template "game" .GameData }}
        {{ end }}
        </div>    
    </div>
    {{ if ne .Player.Name "" }}
    <div class="scoreboard">
    {{ template "scoreboard" .Player }}
    </div>
    {{ end }}
</body>
</html>