<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
    <script>var attempts = {{ .GameData.Attempts }}</script>
    <title>Game | HANGMAN WEB</title>
</head>
<body>
<main class="game">
    <section class="section-game">
        {{ if .GameData.HasEnded }}
        {{ template "results" . }}
        {{ else }}
        {{ template "game" . }}
        {{ end }}
    </section>
    <div class="separation"></div>
    <section id="jose" class="section-art">
            <div class="gallows">
                <div id="base" class="bg-drawn" attempts="9"></div>
                <div class="beams">
                    <div id="vertical-beam" attempts="8" class="bg-drawn"></div>
                    <div id="horizontal-beam" attempts="7" class="bg-drawn"></div>
                    <div attempts="6">
                        <div id="rope" class="bg-drawn"></div>
                        <div id="diagonal-beam" class="bg-drawn"></div>
                    </div>
                </div>
            </div>
            <div class="jose">
                <div id="head" attempts="5"></div>
                <div id="body" attempts="4" class="bg-drawn"></div>
                <div class="limbs left">
                    <div id="left-arm" attempts="3" class="bg-drawn"></div>
                    <div id="left-leg" attempts="2" class="bg-drawn"></div>
                </div>
                <div class="limbs right">
                    <div id="right-arm" attempts="1" class="bg-drawn"></div>
                    <div id="right-leg" attempts="0" class="bg-drawn"></div>
                </div>
            </div>
    </section>
</main>
<script src="assets/js/script.js"></script>
</body>
</html>