<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>var attempts = {{ .GameData.Attempts }}</script>
    <title>Game | HANGMAN WEB</title>
</head>
<body>
<main>
    <section class="game-info">
        {{ if .GameData.HasEnded }}
        {{ template "results" .GameData }}
        {{ else }}
        {{ template "game" .GameData }}
        {{ end }}
    </section>
    <section id="jose" class="section-art" onload="sayHello()">
        <div class="gallows">
            <div id="base" class="bg-drawn neon" attempts="9"></div>
            <div class="beams">
                <div id="vertical-beam" attempts="8" class="bg-drawn neon"></div>
                <div id="horizontal-beam" attempts="7" class="bg-drawn neon"></div>
                <div attempts="6">
                    <div id="rope" class="bg-drawn neon"></div>
                    <div id="diagonal-beam" class="bg-drawn neon"></div>
                </div>
            </div>
        </div>
        <div class="jose">
            <div id="head" attempts="5" class="neon"></div>
            <div id="body" attempts="4" class="bg-drawn neon"></div>
            <div class="limbs left">
                <div id="left-arm" attempts="3" class="bg-drawn neon"></div>
                <div id="left-leg" attempts="2" class="bg-drawn neon"></div>
            </div>
            <div class="limbs right">
                <div id="right-arm" attempts="1" class="bg-drawn neon"></div>
                <div id="right-leg" attempts="0" class="bg-drawn neon"></div>
            </div>
        </div>
    </section>
</main>
<script src="assets/js/script.js"></script>
</body>
</html>