<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Home | Hangman Web</title>
</head>
<body>
<main>
    <section class="section-left">
        <div class="game-intro">
            <h1>TO HANG OR NOT TO HANG</h1>
            <p>You've been assigned the responsibility of saving José's life.
                With each attempt at guessing the letters present in the hidden word, his fate will be determined.
                Think wisely.
            </p>
        </div>
        <div class="form-container">
        {{ if eq .GameData.FinalWord "" }}
            <form id="difficulty-form" action="/hangman" method="POST">
                <div class="difficulty">
                    <input id="diff-easy" type="radio" name="difficulty" value="easy" 
                    {{if eq .CurrentDifficulty "easy" }}checked{{end}}>
                    <label for="diff-easy">EASY</label>
                    <input id="diff-medium" type="radio" name="difficulty" value="medium"
                    {{if eq .CurrentDifficulty "medium" }}checked{{end}}>
                    <label for="diff-medium">MEDIUM</label>
                    <input id="diff-hard" type="radio" name="difficulty" value="hard" 
                    {{if eq .CurrentDifficulty "hard" }}checked{{end}}>
                    <label for="diff-hard">HARD</label>
                </div>
                <input class="hidden" type="submit" id="diff-submit">
            </form>
            <label for="diff-submit"><div class="btn gloss-effect">PLAY</div></label>
        {{ else }}
            <a href="/hangman"><div class="btn gloss-effect">RESUME</div></a>
            <form action="/" method="POST" style="height: 0; display:none;">
                <input type="hidden" name="reset" value="reset">
                <input type="submit" class="hidden" id="reset-submit">
            </form>
            <label for="reset-submit"><div id="reset-btn" class="btn gloss-effect">QUIT GAME</div></label>
        {{end}}
        </div>
    </section>
    <div class="separator"></div>
    <section class="section-right">
        <div class="scoreboard">
        {{ if and (eq .Player.Name "") (eq .GameData.FinalWord "") }}
        <form action="/" method="POST">
            <label for="username">ENTER YOUR USERNAME TO KEEP UP WITH YOUR SCORE
                <input id="username" name="username" type="text">
            </label>
            <input type="submit" value="LOG IN" class="btn gloss-effect">
        </form>

        {{ else }}

        {{ template "scoreboard" .Player }}
        {{ if eq .GameData.FinalWord ""}}
        <form action="/" method="POST">
            <input type="hidden" name="logout" value="logout">
            <input type="submit" value="LOG OUT" class="btn gloss-effect">
        </form>
        {{ end }}
        {{ end }}
    </div>
    </section>
</main>
<script src="assets/js/script.js"></script>
</body>
</html>